@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700&display=swap');

$primary: #12679B;
$font-family-base: 'Plus Jakarta Sans', sans-serif;
$navbar-nav-link-padding-x: .8rem;

@import "../../node_modules/bootstrap/scss/_functions";
@import "../../node_modules/bootstrap/scss/_variables";

@import "../../node_modules/bootstrap/scss/bootstrap";