---
import Layout from '../layouts/Layout.astro';
---
<!-- style="height: calc(100vh - 61px);" -->
<Layout title="IEEE SB IPB">
	<header class="vh-50 d-flex flex-column justify-content-center align-items-center text-center">
		<h1 class="fw-bold">Linking Youth Through Innovation</h1>
		<p>IEEE SB IPB</p>
	</header>

	<section class="container">
		<div class="row justify-content-center g-3 row-cols-1 row-cols-md-2 row-cols-lg-3">
			<div class="col">
				<div class="card text-bg-primary mb-3">
					<div class="card-header">Header</div>
					<div class="card-body">
						<h5 class="card-title">Primary card title</h5>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card text-bg-primary mb-3">
					<div class="card-header">Header</div>
					<div class="card-body">
						<h5 class="card-title">Primary card title</h5>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card text-bg-primary mb-3">
					<div class="card-header">Header</div>
					<div class="card-body">
						<h5 class="card-title">Primary card title</h5>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="container">
		<div class="row d-flex align-items-center my-3" style="height: 200px;">
			<div class="col text-center text-info">
				<h2 class="fw-bold">Technology</h2>
			</div>
			<div class="col text-center text-success">
				<h2 class="fw-bold">Agriculture</h2>
			</div>
		</div>
	</section>
</Layout>
