---
import Layout from '../layouts/Layout.astro';
---
<!-- style="height: calc(100vh - 61px);" -->
<Layout title="IEEE SB IPB">
	<header class="vh-50 d-flex flex-column justify-content-center align-items-center">
		<h1 class="fw-bold">Linking Youth Through Innovation</h1>
		<p>IEEE SB IPB</p>
	</header>
</Layout>
